name: CI/CD

on:
  push:
    branches: [ test-deploy ]


jobs:

  ci:
    runs-on: ubuntu-latest

    steps:    
      - uses: actions/checkout@v2

      - name: Set up Python 
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64

      - name: Install Dependencies
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt 

      - name: Run Tests        
        run: pytest app

      - name: Zip App
        run: zip -r app.zip *
        
      - name: Upload Zip
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: app.zip