name: CI/CD

on:
  push:
    branches: [ main ]


jobs:
  ci:
    runs-on: ubuntu-latest

    steps:    
      - uses: actions/checkout@v2

      - name: Set up Python 
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          architecture: x64

      - name: Install Dependencies
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt 

      - name: Run Tests        
        run: pytest app

      - name: Zip App
        run: zip -r app.zip *
        
      - name: Upload Zip
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: app.zip
        
  cd:
    runs-on: ubuntu-latest
    needs: [ ci ]
    # Check if branch main
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Install AWS CLI
        # Use github secrets
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      
      - name: Download App
        uses: actions/download-artifact@v2
        with:
          name: app

      - name: Upload to S3
        run: aws s3 cp app.zip s3://whotofollowbucket/app.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Deploy Lambda
        run: aws lambda update-function-code --function-name whoToFollow app.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
